*{
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    background-color: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
}

.top-pattern{
    position: absolute;
    bottom: 50vh;
    right: 50vw;
}

.bottom-pattern{
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 400px;
    margin-top: -200px;
    margin-left: -175px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 40px 100px 0px hsl(227 10% 36% / .6);
    background-color: #fff;
}

.card-pattern{
    position: relative;
    height: 140px;
}

.user{
    position: relative;
    width: 100%;
    height: 170px;
    border-bottom: 1px solid hsl(220, 10%, 89%);
}

.user-info{
    height: 85px;
    padding-top: 85px;
    text-align: center;
}

.user-info-top{
    margin-bottom: 15px;
}

.name{
    padding-right: 10px;
}

.user-info-bottom, .age, .category{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.user-info-bottom{
    font-size: 16px;
}

.number{
    margin-bottom: 5px;
}

.category{
    font-size: 10.5px;
    letter-spacing: 1.5px;
}

.stats{
    position: relative;
    width: 100%;
    height: 90px;
    padding: 0 40px;
}

.stat-container{
    display: inline-block;
    width: 31.55%;
    height: 100%;
    padding: 28px 0;
    text-align: center;
}

.profilepic{
    position: absolute;
    top: 84px;
    left: 122px;
    width: 106px;
    height: 106px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */